$logoWidth: 408px;

.header{
  //display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  .logo{width: 400px;margin: 27px 50px;padding-right: 0;height: 46px;
    img,p{float: left;height: 100%;}
    p{font-size: 22px;color: #fff;line-height: 46px;
      margin-left: 20px;letter-spacing: 5px;
    }
  }
  .todo{
    width: 448px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }
  ul{
    width: 468px;
    float: right;}
  .item{float: left;
    color: #fff;
    padding: 0 20px 0 20px;
    height: 34px;
    line-height: 34px;
    margin-top: (100px - 34) / 2;
    overflow: hidden;
    &:nth-last-child(2),&:last-child{
      span:after{
        content: "";
      }
    }
  }
  .contactBox{
    background: #0a1523;
    padding: 0 8px 0 4px;
    border-radius: 20px;
  }
  span{
    position: relative;
    padding-left: 34px;
    &:before{
      @include iconfont;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 1px;
      top: -6px;
      text-align: center;
      line-height: 30px;
      font-size: 22px;
    }
    &:after{content: "|";
      position: absolute;
      right: -20px;
      cursor: auto;
    }
  }
  .login:before{
    content: "\e670";
  }
  .setup:before{
    content: "\e613";
  }
  .help:before{
    content: "\e60c";
  }
  .contact:before{
    content: "\e618";
  }
}
