$headerHeight: 100px;
$menuWidth: 200px;

.layout{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #1a293c;
  .lHeaderBox{height: $headerHeight;}
  .lContentBox{height: calc(100vh - 100px);display: flex;}
  .lMenu{width: $menuWidth;height: 100%;overflow: auto;@include scrollBar;}
  .lContentMain{width: calc(100% - 200px);height: 100%;background: #e7e7e7;overflow: auto;
    @include scrollBar;
  }
}
