$placeholderColor: #bfbfbf;
$inputWidth: 360px;
$inputHeight: 48px;
$boxPaddingTB: 50px;
$boxPaddingLR: 80px;
$pdPaddingTop: 28px;
$pPaddingTop: 20px;
$loginHeight:64px;
$boxMarginTop:36px;
$loginBgColor:#263548;

.login {
  width: 100%;
  height: 100%;
  min-height: 500px;
  background: $loginBgColor url(/static/img/loginBg.png) no-repeat bottom center;
  .indexLogin{
    padding: 14px 110px;
    img{height: 50px;}
  }
  .main {
    width: $inputWidth+$boxPaddingLR*2;
    height: $inputHeight * 4 + $boxPaddingTB*2 + $pdPaddingTop+$pPaddingTop+$loginHeight+$boxMarginTop;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-65%);
  }
  .logo {
    width: 384px;
    height: $loginHeight;
    display: block;
    margin: 0 auto;
    p,img{height: 100%;float: left;}
    p{margin: 0;padding: 0;font-size:24px;margin-left: 20px;letter-spacing: 5px;color: #fff;line-height: 64px;}
  }
  .box {
    width: $inputWidth+$boxPaddingLR*2;
    height: $inputHeight * 4 + $boxPaddingTB*2 + $pdPaddingTop+$pPaddingTop;
    padding: $boxPaddingTB $boxPaddingLR;
    background: #edf1f2;
    border-radius: 40px;
    margin-top: $boxMarginTop;
  }
  .username, .password {
    width: $inputWidth;
    height: $inputHeight;
    padding-left: 68px;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      font-size: 18px;
    }
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color: $placeholderColor;
    }
    input:-moz-placeholder, textarea:-moz-placeholder {
      color: $placeholderColor;
    }
    input::-moz-placeholder, textarea::-moz-placeholder {
      color: $placeholderColor;
    }
    input:-ms-input-placeholder, textarea:-ms-input-placeholder {
      color: $placeholderColor;
    }
    &:before {
      @include iconfont;
      //@include iconBg;
      width: 36px;
      height: 36px;
      margin: 4px 16px;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      line-height: 36px;
      font-size: 30px;
      color: #d2d4d4;
    }
  }
  .username {
    &:before {
      content: "\e614";
      //background-position: 36px -81px;
    }
  }
  .password {
    margin-top: $pdPaddingTop;
    &:before {
      content: "\e60f";
      //background-position: 83px -81px;
    }
  }
  p {
    margin-top: $pPaddingTop;
    text-align: right;
    height: 24px;
  }
  label {
    font-weight: normal;
    font-size: 16px;
    color: $placeholderColor;
    float: right;
    margin-left: 10px;
  }
  input[type=checkbox] {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 2px;
    background: #fff;
  }
  button {
    margin-top: 24px;
    width: $inputWidth;
    height: $inputHeight;
    text-align: center;
    border: none;
    font-size: 22px;
    color: #fff;
    background-color: $loginBgColor + 20;
    border-radius: 10px;
    cursor: pointer;
  }
}

input:-webkit-autofill {
  background-color: #edf1f2 !important;
}
