$color: #fff;
$activeColor: #ff6d60;
$menuHeight: 64px;
$navHeight: 60px;
$menuPadding: 70px;

.menu {
  .item {
    position: relative;
    overflow: hidden;
    &:before, &:after {
      @include iconfont;
      width: 34px;
      height: 34px;
      position: absolute;
      top: ($menuHeight - 34) / 2;
      text-align: center;
      line-height: 34px;
      font-size: 18px;
      color: $color;
    }
    &:before {
      left: 20px;
      content: "\e617";
    }
    &:after {
      right: 20px;
      content: "\e609";
    }
    &.active {
      &:before,
      &:after {
        color: $activeColor;
      }
      ul{display:block;}
    }
  }
  .risk_assessment {
    &:before {
      content: "\e611";
    }
  }
  .risk_mitigation {
    &:before {
      content: "\e60a";
    }
  }
  .threat_perception {
    &:before {
      content: "\e616";
    }
  }
  .analysis_report {
    &:before {
      content: "\e60d";
    }
  }
  .response {
    &:before {
      content: "\e612";
    }
  }
  .system {
    &:before {
      content: "\e619";
    }
  }
  ul {
    display:none;
    background: #0a1523;
  }
  p {
    color: $color;
    text-align: justify;
    font-size: 16px;
    &:after {
      content: " ";
      display: inline-block;
      width: 100%;
    }
  }
  .a {
    height: $menuHeight;
    line-height: $menuHeight;
    padding: 0 $menuPadding + 2 0 $menuPadding - 8;
    margin: 0 auto;
    border-bottom: 1px solid #5f6a77;
  }
  .active {
    .a {
      color: $activeColor;
    }
  }
  .nav {
    padding: 0 26px;
    position: relative;
    font-size: 14px;
    &:last-child div {
      border: none;
    }
    &:hover, &.active {
      background: #3b444f;
    }
    &.active {
      &:before {
        content: " ";
        width: 10px;
        height: 100%;
        background: $activeColor;
        position: absolute;
        left: 0;
        top: 0;
      }
      p {
        color: $activeColor;
        font-size: 16px;
      }
    }
    p {
      height: $navHeight;
      line-height: $navHeight;
      font-size: 14px;
    }
    div {
      padding: 0 $menuPadding - 26 0 $menuPadding - 36;
      border-bottom: 1px solid #fff;
    }
  }
}
